/build*
/dist*
/src/Ninject.Extensions.ContextPreservation.Test/obj*
/src/Ninject.Extensions.ContextPreservation/obj*
/_ReSharper.Ninject.Extensions.ContextPreservation*
*.suo
/lib/Ninject/*.zip
/lib/Ninject/*/**